body,main,.card-about-us {
    background-color: #E9ECEF;
}

.instrument-list {
    list-style-position: inside;
}

.price {
    display: inline-block;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

.item-name, .page-title {
    color: #9048AA;
}

.card-about-us {
    border-radius:0;
    border: 0;
    border-bottom: 1px solid #DBDBD9;
    
}
